* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 0 4%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    color: gray;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-left: 30px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FECB08;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-kanan {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.icon {
    font-size: 18px;
    color: black;
    cursor: pointer;
    transition: color 0.3s;
}

.icon:hover {
     color: #FECB08;
}

.search-input {
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #FECB08;
    width: 200px;
}